.card{
    width: 350px;
    height: 300px;
}


img{
    border-radius: 50%;
}

.card{
    border-radius: 0;
    margin-top: 10px;
    /* border: none; */
}
.card:hover{
    background-color: rgb(112, 110, 108);
}

.container{
    margin-left: 150px;
    margin-top: 80px;
}