.headmain{
    width: 100%;
    height: 200px;
    background-color: #232324;
}
.input-align{
    margin-left: 400px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.input-design{
    width: 600px;
    height: 60px;
    /* border-radius: 10px; */
    border: none;
    outline: none;
}
/* body  */
.container-fluid{
    width: 100%;
    height: 100%!important;
    background-color: rgb(254, 254, 254)!important;
}

.card{
    width: 18rem;
    margin-top: 0px;
    height: 350px!important;
}

img{
    width: 18rem;
    height: 200px;
    border-radius: 50%;
}

button{
    border: none;
    color: white;
    background-color: rgb(233, 136, 17);
    outline: none;
    /* border-radius: 10px; */
}

body{
    background-color: rgb(255, 255, 255);
}

.alig{
    padding-top: 30px;
}


.cards{
    width: 700px!important;
    margin-top: 0px;
    height: 200px!important;
    
}
.btns{
    width: 140px;
    height: 40px;
    margin-left: 80px;
    margin-bottom: 30px;
    border-radius: 3px;
}